body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background-color: #333333; /* Gris Oscuro */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Estilos para el botón de navegación */
.navbar .sidenav-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 15px;
    margin-left: -6rem; /* Move the button 10px to the left */
}

.navbar .sidenav-btn .material-symbols-outlined {
    font-size: 24px;
}

.avatar {
    background: #aaa;
    height: 50px;
    border-radius: 30%;
    margin: 0 auto 10px auto; /* Center the avatar and add bottom margin */
    display: block; /* Ensure the avatar is treated as a block element */
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.main {
    width: 1400px;
    max-width: 95%;
    height: calc(100vh - 80px); /* Full height minus the navbar height */
    margin: 80px auto 20px auto; /* Adjusted margin to account for fixed navbar */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow: hidden; /* Prevent scrolling */
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 5px;
    
}

/* Estilos para la información del archivo */
.file-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Estilos para el nombre del archivo */
.file-name {
    margin-right: 10px;
}

/* Estilos para el botón de información */
.info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: rgb(25, 109, 25);;
    border: 1px transparent;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.sidenav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: 1px transparent;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.info-button .material-symbols-outlined {
    font-size: 24px;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container label {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #FF5722; /* Naranja Oscuro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-container label:hover {
    background-color: #FF8A50; /* Naranja Claro */
}

.upload-container .file-name {
    margin-top: 1rem;
    padding-left: 15px;
    font-size: 16px;
    color: rgb(25, 109, 25);
}

.btn-style {
    padding: 5px 15px;
    color: white;
    background-color: #FF5722; /* Naranja Oscuro */
    border: 1px solid #FF8A50; /* Naranja Claro */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added shadow */
}

.btn-style:hover {
    color: white;
    background-color: #FF8A50; /* Naranja Claro */
}

.pdf-container {
    width: 1200px;
    height: 80vh;
    overflow: hidden;
    border: 1px solid #CCCCCC; /* Gris Claro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    visibility: hidden; /* Hide initially */
}

.turnjs {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #333;
    text-align: center;
    z-index: 2;
}

.page {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.navigation-controls button {
    background-color: #FF5722; /* Naranja Oscuro */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.navigation-controls button:hover {
    background-color: #FF8A50; /* Naranja Claro */
}

.page canvas {
    max-width: 100%;
    max-height: 100%;
}

.options-sel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2px;

}

.spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-top: 16px solid #FF5722; /* Naranja Oscuro */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.page-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
}

.paginator {
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    padding: 0.5rem;
    width: 40%;
    font-family: Arial, sans-serif;
    color: #696666;
    border: 1px dashed #696666; /* Change border to dashed line */
    border-radius: 5px;
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Ensure text is centered within the flex container */
}

.page-indicator {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

.paginator span {
    width: auto; /* Adjust width to auto to prevent stretching */
    white-space: pre;
    text-align: center; /* Center text within the span */
}


/* Estilos para el side nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Estilos para el popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    border-radius: 15px;
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para la card */
.card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto que se desborda */
}

/* Media Queries for responsive */
@media (max-width: 768px) {
    .upload-container {
        flex-direction: column;
    }
}