body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background-color: #333333; /* Gris Oscuro */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.main {
    width: 100%;
    max-width: 95%;
    height: calc(100vh - 80px); /* Full height minus the navbar height */
    margin: 80px auto 20px auto; /* Adjusted margin to account for fixed navbar */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow: hidden; /* Prevent scrolling */
}

.upload-container {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 5px;
    
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container label {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #FF5722; /* Naranja Oscuro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-container label:hover {
    background-color: #FF8A50; /* Naranja Claro */
}

.upload-container .file-name {
    margin-top: 1rem;
    padding-left: 15px;
    font-size: 16px;
    color: green;
}

.btn-style {
    padding: 5px 15px;
    color: white;
    background-color: #FF5722; /* Naranja Oscuro */
    border: 1px solid #FF8A50; /* Naranja Claro */
    border-radius: 5px;
}

.btn-style:hover {
    color: white;
    background-color: #FF8A50; /* Naranja Claro */
}

.pdf-container {
    width: 90%;
    height: 80vh;
    overflow: hidden;
    border: 1px solid #CCCCCC; /* Gris Claro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    visibility: hidden; /* Hide initially */
}

.turnjs {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #333;
    text-align: center;
    z-index: 2;
}

.page {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.navigation-controls button {
    background-color: #FF5722; /* Naranja Oscuro */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.navigation-controls button:hover {
    background-color: #FF8A50; /* Naranja Claro */
}

.page canvas {
    max-width: 100%;
    max-height: 100%;
}

.options-sel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2px;

}

.spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-top: 16px solid #FF5722; /* Naranja Oscuro */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.page-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
}

/* Media Queries for responsive */
@media (max-width: 768px) {
    .upload-container {
        flex-direction: column;
    }
}